
body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96; }
  
.navId{
	color:white;
    font-family:"µ¸¿ò",Dotum,sans-serif;

    padding-left:10px;
    padding-right:10px;
    position:relative;
   
}  

.heart_eye{
	color:white;
	position:relative;
	padding-left:10px;
    padding-right:10px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; 
    } 
      section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } 
    }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem; }

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem; }


#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase; }

@media (min-width: 992px) {
	 
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 500vh; }    
    
   #sideNav .title{
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Open Sans', serif;
	color:white;
	position: relative;
	top: 5rem;
	display: flex;
	flex-direction: column;

	padding-right:0.5rem;
	padding-left:0.5rem;
	padding: 0.5rem 1rem;
}  

	

    #sideNav .navbar-brand {
      display: flex;
     
      padding: 0.5rem;
      }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); 
        }
        
       #sideNav .img-like{
       	max-width: 1rem;
        max-height: 1rem;
        font-family: 'Saira Extra Condensed', serif;
       } 
       
       
        #sideNav .img-view{
       	max-width: 1.5rem;
        max-height: 1.5rem;
        font-family: 'Saira Extra Condensed', serif;
       } 
       
    #sideNav .navbar-collapse {
      position: relative;
      top:80px;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item .mapcal .buddyup{
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link .mapcal .buddyup{
            display: block; } }


@media all and (min-width:0px) and (max-width:992px) {
  section.resume-section {
    min-height: 100vh; }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem; } 
   
   #sideNav .title{

	color:white;

} 
     #sideNav .img-like{
       	max-width: 1rem;
        max-height: 1rem;
        font-family: 'Saira Extra Condensed', serif;
       } 
       
    .navTop{
	color:white;
    font-family:"µ¸¿ò",Dotum,sans-serif;
}    

      }

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } 

    }
    
    

.bg-primary {
  background-color: #0080c0!important; }

.text-primary {
  color: #004080!important; }

a {
  color: #BD5D38; }
  a:hover, a:focus, a:active {
    color: #824027; }
    

#profile{
	top:35px;
}


    
     